#header {
  position: relative;
  height: 5rem;
  padding: 0px 0.32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
}

h1 {
  font-size: 30px;
}

th {
  color: rgb(131, 129, 129);
  padding: 10px;
}

#txtBusca {
  background-color: blanchedalmond;
  font-style: italic;
  font-size: 5px;
}

#botaoBusca {
  width: 15px;
}

#thBusca {
  width: 80%;
  padding-left: 200px;
}

#tblNovidades {
  width: 100%;
}

#tblFrete {
  width: 100%;
  background-color: darkgrey;
}
