/* seletor univesal  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  /* box-sizing: border-box; -> serve para padronizar o width, no sentido de considerar o tamanho da borda inclusa no tamanho desejado do box. então, se eu por um width: 150px, a borda será o limite do box, e o tamanho da borda em px estará dentro dos 150 px. Quando não se usa dessa forma, o width será aplicado apenas no content, não levando em consderação o tamanho do padding (se adicionado) nem da borda - de cada lado. o valor default é content-box, em que o width e height definirão apenas o tamanho do conteúdo e o padding e a borda serão jogados para fora da conta. */
  
  :root {
    --magenta: #5D2A42;
    --coral: #FB6376;
    --light-rose: #FCB1A6;
    --bege: #FFDCCC;
    --ligther-bege: #FFF9EC
  }
  
  body,
  #body-edit,
  #container,
  #header,
  #title-main button,
  #footer {
    background-color: var(--light-rose);
    color: var(--coral);
    font-family: 'Comfortaa', monospace;
  }
  
  body a {
    color: var(--magenta);
    text-decoration: none;
  }
  
#header-edit span,
#header span {
    font-size: 30px;
    font-weight: bold;
  }
  
#input-header,
#input-header input {
  width: 20%;
  height: 35px;
}

#input-header {
  width: fit-content;
}

#input-header button {
  height: 105%;
  background-color: var(--magenta);
  transition: 200ms ease;
}

#input-header button:hover {
  color: var(--bege);
  filter: brightness(0.8);
  transition: 400ms ease;
}

#input-header input {
  height: 100%;
  border-radius: 0 8px 8px 0;
}

#navigation-bar-header {
    background-color: var(--magenta);
    padding: 0 0;
    border-radius: 20px 20px 0 0;
  }
  
#navigation-bar-header ul {
    list-style: none;
  }
  
#navigation-bar-header ul li {
    transition: 200ms ease;
  }
  
#navigation-bar-header ul li:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 200ms ease;
    text-decoration: overline;
  }
  
#main,
#main-edit {
  width: 100%;
}

#main h1{
  font-size: 30px;
  font-weight: bold;
  color: var(--magenta);
}

#main #title-main {
  color: var(--magenta);
  font-size: 30px;
  font-weight: bold;
}

#title-main button {
  color: var(--magenta);
  transition: 250ms ease;
  border: 1px solid var(--magenta);
  text-decoration: none;
}

#title-main a:hover {
  color: var(--magenta);
  border: 3px solid var(--bege);
  background-color: transparent;
  transition: 250ms ease;
  text-decoration: none;
}

#table {
  background-color: var(--bege);
  border-color: var(--ligther-bege);
}

#table th, td {
  text-align: center;
  border-color: var(--ligther-bege);
}

#table th, td:hover{
  color: var(--coral);
  cursor: pointer;
}
  
#footer section:last-child {
    background-color: var(--magenta);
    padding: 0;
    border-radius: 0 0 20px 20px;
    color: var(--ligther-bege);
    width: 100%;
  }

/* links */
a:link {
    color: default;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: default;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: var(--bege);
    background-color: transparent;
    text-decoration: overline;
  }
  
a:active {
    color: var(--coral);
    background-color: transparent;
    text-decoration: overline;
  }